body {
    height: 100vh;
    margin: 15px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar__menu {
    padding-left: 0px;
    display: flex;
    list-style: none;
}

#navbar__menu__item {
    margin: 10px
}

#home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}